<!DOCTYPE html>
<html>
 <head>
  <title> terminal </title>
  <style>
    body {
    background-color: black;
    color: white;
    font-size: 1vw;
    }#terminal-search-button {
    width: 3vw;
    height: 3vh;
    }#terminal-search-bar {
    width: 14vw;
    height: 2vh;
    }#terminal-search-bar::placeholder {
    font-size: 2vh;
    color: black;
    }
  </style>
  <link rel="stylesheet" href="terminal.css"/>
 </head>
 <body>
  <div id="terminal-search">
   <input id="terminal-search-bar" type="text" placeholder="type help to get help navigating"/><button id="terminal-search-button">Search</button>
  </div>
  <a href="/pcALL" id="test">what is a test</a>
 </body>
</html>