<!DOCTYPE html>
<html>
 <head>
  <title> terminal </title>
 </head>
 <body>
  <div id="terminal-search">
   <input id="terminal-search-bar" type="text" placeholder="type help to get help navigating"/><button id="terminal-search-button">Search</button>
  </div>
  <a href="/pcALL" id="test">what is a test</a>
 </body>
</html>